body{
margin:0;
padding:0;
font-size:16px;
  /*base font size*/
font-family: Helvetica, sans-serif;
background-color: darkgrey;
line-height: 1.1em;
color: black;
}
img{
  max-width:100%;
  /* i can use max-width:100% also */
  height: 200px;
  /* remove height when I have an image */
  background-color: red;
}
.wrapper{
  width:90%;
  margin: auto;
  margin-top: 1.1em;
  padding:10px;
  background-color: white;
}
