body{
margin:0;
padding:0;
font-size:16px;
  /*base font size*/
font-family: Helvetica, sans-serif;
background-image: linear-gradient(white, #6d6e73, black);
line-height: 1.1em;
color: black;
}
header{
  width:100%;
  background-color:white;
}
header img{
  height:100px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
img{
  max-width:100%;
  /* i can use max-width:100% also */
  background:url("logo.jpg");
  /* remove height when I have an image */
  display:flex;
}
nav{
  text-align: center;
  margin:10px;
  padding-top:50px;
}
nav a{
  padding:10px;
  margin:5px;
  color:#397d7c;
  text-decoration:none;
  font-size: 1em;
}
nav a:hover{
  color:#62d6d9;
}
.wrapper{
  width:90%;
  margin: auto;
  margin-top: 1.1em;
  padding:10px;
  background-color: white;
}
.hero{
  width: 100%;
  background:url("giftlarge2.jpg");
  height:400px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero h2{
  position: absolute;
  color:white;
  top:40%;
  right:10%;
  font-family: 'Saira Condensed', Helvetica, sans-serif;
}
.caption{
  color:#397d7c;
  display:flex;
}
.search input{
  width: 325px;
  display:flex;
}
/*trying flex boxes out*/
span > div {
	padding: 20px 25px;
	box-shadow: 5px 5px 9px rgba(0,0,0,.5);
}
/*copied from codepen https://codepen.io/qkombur/pen/dPxjJy example*/
/* sets flex box to column for mobile */
.container {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    background: #333;
}
/* sets all flexboxes to be same length */
.container span {
    flex: 1;
}
/* Order # can be changed to switch order of boxes z-index is used to layer boxes. */
.product1 {
    order: 1;
    background: #F08080;
    z-index: 200;
}
.product2 {
    order: 2;
    background: #20B2AA;
    z-index: 150;
}
.product3 {
    order: 3;
    background: #DA70D6;
    z-index: 100;
}
.product4 {
    order: 4;
    background: #DA70D6;
    z-index: 50;
}
/* the following media's are to make this look nicer on bigger screens. */
@media screen and (min-width: 600px) {
.container {
	flex-direction: row;
	}
}

@media screen and (min-width: 1000px) {
.container {
	font-size: 1.4em;
	}
/*end copy*/
/* my previous attempts
.flex-container {
  display: flex;
  justify-content:space-around;
  }
.flex-container<{
  align-items: grid;
}
end attempt*/
.footer{
  text-align: center;
  margin:10px;
  padding:10px;
  background-color:white;
}
.footer a{
  padding:10px;
  margin:5px;
 
}
.footer p{
  justify-content:space-around;
  align-items:center;
  color:#397d7c;
  text-decoration:none;
  font-size: 1.2em;
}

/*STYLES FOR CONTACT PAGE*/
.contact-form{
  width:340px;
  height:375px;
  background:#6d6e73;
  border-radius:1px;
  box-shadow:0 0 30px -10px #000;
  margin:calc(50vh - 150px) auto;
  padding:20px 20px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
}
.contact-form h2{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:white;
  border-bottom:3px solid #78788c
}
button{
  background-color:white;
  border-radius:3px;
  padding:10px;

}
/*
input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2
}
input:focus{
  border-bottom:2px solid #78788c
}
p:before{
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a
}
button{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;border:2px solid #78788c;
  background:0;color:#5a5a6e;
  cursor:pointer;transition:all .3s
}
button:hover{
  background:#78788c;
  color:#fff
}
div{
  content:'Hi';
  position:absolute;
  bottom:-15px;right:-20px;
  background:#50505a;
  color:#fff;
  width:320px;
  padding:16px 4px 16px 0;
  border-radius:6px;
  font-size:13px;
  box-shadow:10px 10px 40px -14px #000}
span{
  margin:0 5px 0 15px
}*/
/*additional styles borrowed from https://codepen.io/leenalavanya/pen/mPWdPZ*/
/*END STYLES FOR CONTACT PAGE*/
/*desktop styles below*/
@media only screen and (min-width: 700px) {
  .wrapper{
    width:85%;
    margin:auto;
    }
  .hero{
    height:400px;
  }
nav li{
  display: inline-block;
}
.search{
  display:flex;
  min-width:100%;
}
}
