body{
margin:0;
padding:0;
font-size:16px;
  /*base font size*/
font-family: Helvetica, sans-serif;
background-image: linear-gradient(white, #6d6e73, black);
line-height: 1.1em;
color: black;
}
header{
  width:100%;
  background-color:white;
}
header img{
  height:100px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
img{
  max-width:100%;
  /* i can use max-width:100% also */
  background:url("logo.jpg");
  /* remove height when I have an image */
  display:flex;
}
nav{
  text-align: center;
  margin:10px;
  padding-top:50px;
}
nav a{
  padding:10px;
  margin:5px;
  color:#397d7c;
  text-decoration:none;
  font-size: 1em;
}
nav a:hover{
  color:#62d6d9;
}
.wrapper{
  width:90%;
  margin: auto;
  margin-top: 1.1em;
  padding:10px;
  background-color: white;
}
.hero{
  width: 100%;
  background:url("giftlarge2.jpg");
  height:400px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero h2{
  position: absolute;
  color:white;
  top:40%;
  right:10%;
  font-family: 'Saira Condensed', Helvetica, sans-serif;
}
.caption{
  color:#397d7c;
  display:flex;
}
.search input{
  width: 325px;
  display:flex;
}
/*trying flex boxes out*/
span > div {
	padding: 20px 25px;
	box-shadow: 5px 5px 9px rgba(0,0,0,.5);
}
/*copied from codepen https://codepen.io/qkombur/pen/dPxjJy example*/
/* sets flex box to column for mobile */
.flex-container {
    display: flex;
    color: white;
    flex-wrap:wrap;
    align-items: center;
}
/* sets all flexboxes to be same length */
.flex-container span {
    flex: 1;
	flex-wrap:wrap;
	display:flex;
}
/* Order # can be changed to switch order of boxes z-index is used to layer boxes. */
.product {
    background: #77787e;
    z-index: 150;
}
/*.product2 {
    order: 2;
    background: #636469;
    z-index: 150;
}
.product3 {
    order: 3;
    background: #4f5054;
    z-index: 150;
}
.product4 {
    order: 4;
    background: #3b3c3f;
    z-index: 150;
}
*/
/*end copy*/
/* my previous attempts
.flex-container {
  display: flex;
  justify-content:space-around;
  }
.flex-container<{
  align-items: grid;
}
end attempt*/
.footer{
  text-align: center;
  margin:10px;
  padding:10px;
  background-color:white;
}
.footer a{
  padding:10px;
  margin:5px;

}
.footer p{
  justify-content:space-around;
  align-items:center;
  color:#397d7c;
  text-decoration:none;
  font-size: 1.2em;
}

/*STYLES FOR CONTACT PAGE*/
.contact-form{
  width:350px;
  height:60%;
  background:#6d6e73;
  border-radius:1px;
  box-shadow:0 0 30px -10px #000;
  margin:calc(50vh - 150px) auto;
  padding:20px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
}
.contact-form h2{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:white;
  border-bottom:3px solid #78788c
}
label{
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

label p{
  padding: 0 10px;
  display: ruby;
}

.newsletter{
  display: grid;
}
textarea{
  min-height: 100px;
  width: 100%;
  padding: 1.7%;
  margin: 1.5% 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*My original button styling for comparison
button{
  background-color:white;
  border-radius:3px;
  padding:10px;*/

  /*Submit button styles borrowed and adapted from
  https://codepen.io/yuhomyan/pen/OJMejWJ*/
  button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
  .btn-4 {
    background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4:hover{
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4:before {
    height: 0%;
    width: .1px;
  }
  .btn-4:after {
    width: 0%;
    height: .1px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: .1px;
    height: 0%;
  }
  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }

/*
input{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2
}
input:focus{
  border-bottom:2px solid #78788c
}
p:before{
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a
}
button{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;border:2px solid #78788c;
  background:0;color:#5a5a6e;
  cursor:pointer;transition:all .3s
}
button:hover{
  background:#78788c;
  color:#fff
}
div{
  content:'Hi';
  position:absolute;
  bottom:-15px;right:-20px;
  background:#50505a;
  color:#fff;
  width:320px;
  padding:16px 4px 16px 0;
  border-radius:6px;
  font-size:13px;
  box-shadow:10px 10px 40px -14px #000}
span{
  margin:0 5px 0 15px
}*/
/*additional styles borrowed from https://codepen.io/leenalavanya/pen/mPWdPZ*/
/*END STYLES FOR CONTACT PAGE*/
/* STYLES FOR ABOUT PAGE */
.about{
  display:flex;
  background-image:linear-gradient(white lightgrey black);
}
/*END STYLES FOR ABOUT PAGE*/
/*desktop styles below*/
/* the following media's are to make this look nicer on bigger screens. */
@media screen and (min-width: 1000px) {
.flex-container {
	font-size: 1.4em;
	}
@media only screen and (min-width: 700px) {
  .wrapper{
    width:85%;
    margin:auto;
    }
  .hero{
    height:400px;
  }
nav li{
  display: inline-block;
}
.search{
  display:flex;
  min-width:100%;
}
}
}
